<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <h2>Register Form</h2>
      <form method="post" action="/signup">
         <% if(typeof(errorMessage) !== 'undefined') {%>
         <span><%= errorMessage %></span>
         <% } %>
         <p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"
               placeholder="username" required="true"/>
         </p>
		  <p>
           <label for="Email">Useremail:</label>
            <input type="email" name="mail" id="mail"
               placeholder="yourmail" required="true"/>
         </p>
         <p>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password"
               placeholder="password" required="true"/>
         </p>
         <p>
            <input type="submit" name="signup" id="signup" value="register"/>
            <button onclick="window.location.href='/signin'">SignIn</button>
            <!-- <input type="button" value="SignIn" action="/signin"/> -->
            <!-- <a href="/signin" title="sign in">sign in</a> -->
         </p>
      </form>
   </body>
</html>